<div class="headerTop">
  <p class="header-top-text">FREE SHIPPING ON ALL U.S. ORDERS $49+</p>
</div>

<nav class="navmenu">
  <div class="leftMenu">
      <ul>
          <li class="nav-shop">SHOP</li>
          <li class="our-story">OUR STORY</li>
      </ul>
  </div>

  <div class="main-navigation">
    <img src="assets/svg/ESPRO Logo.svg" alt="espro" class="espro-nav">
  </div>

  <div class="rightMenu">
      <ul>
          <li class="brew-guids">BREW GUIDS</li>
          <li>BLOG</li>
          <!-- <li>
              <img src="assets/svg/search-line.svg" alt="search-line">
          </li>
          <li>
              <img src="assets/svg/My Account icon.svg" alt="my-account">
          </li>
          <li>
              <img src="assets/svg/Shopping bag icon.svg" alt="shopping-bag">

          </li> -->

      </ul>
  </div>
</nav>
