<nav id="navigation">
  <a href="#">
    <img src="../../assets/img/Group 1.png" alt="Group" class="group">
  </a>

  <div class="central-nav">
    <ul>
      <li><a class="indoor" href="#">Indoor</a></li>
      <li><a class="outdoor" href="#">Outdoor</a></li>
      <li><a class="lighting-controls" href="#">Lighting Controls</a></li>
      <li><a class="safety-security" href="#">Safety & Security</a></li>
      <li><a class="electrical" href="#">Electrical</a></li>
      <li><a class="heating-air" href="#">Heating & Air</a></li>
    </ul>
    <a href="#" class="responsive-button">
      <i class="fa fa-lg fa-navicon">
        &nbsp;&nbsp;&nbsp;&nbsp;Navigation
      </i>
    </a>
  </div>

  <!-- Link to search page -->
  <a routerLink="/search">
    <img src="../../assets/img/search.png" alt="search" class="search">
    <router-outlet></router-outlet>
  </a>

  <a href="#">
    <img src="../../assets/img/user.png" alt="user" class="user">
  </a>

  <a href="#">
    <img src="../../assets/img/shop.png" alt="shop" class="shop">
    <span class="badgeBlue"></span>
    <span class="not-num">0</span>
  </a>

</nav>
