.headerTop {
  width: 1440px;
  height: 37px;
  text-align: center;
  background-color: #8DB9CA;
  margin-left: 115px;
}

.header-top-text {
  font: normal normal bold 11px/13px Josefin Sans;
  padding-top: 14px;
  letter-spacing: 1.65px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 2px;
}

.main-navigation {
  position: absolute;
  margin-left: 47%;
  margin-top: 15px;
}

.navmenu {
  height: 60px;
  margin-left: 330px;
  width: 1000px;
  clear: both;
  text-align: center;
}

.leftMenu {
  float: left;
  position: absolute;
}

ul li {
  list-style: none;
  text-decoration: none;
  margin: 25px;
  float: left;
  width: 43px;
  height: 13px;
  color: var(--unnamed-color-221f20);
  font: normal normal bold 13px/16px Josefin Sans;
  letter-spacing: 1.95px;
  color: #221f20;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
}

.rightMenu {
  float: right;
}

.badge {
  top: 58px;
  left: 1341px;
  width: 24px;
  height: 24px;
  background: var(--unnamed-color-659ab1) 0% 0% no-repeat padding-box;
  background: #659AB1 0% 0% no-repeat padding-box;
  opacity: 0.3;
}
