.rock-logo {
  position: absolute;
  top: 4852px;
  left: 65px;
  width: 124px;
  height: 81px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.shop-heading {
  position: absolute;
  top: 4852px;
  left: 335px;
  width: 26px;
  height: 17px;
  text-align: left;
  font: normal normal 600 14px/26px Barlow Condensed;
  letter-spacing: 0px;
  color: #303030;
  text-transform: uppercase;
  opacity: 1;
}

.shop-items {
  position: absolute;
  top: 4889px;
  left: 335px;
  width: 114px;
  height: 198px;
  text-align: left;
  font: normal normal normal 15px/36px Roboto;
  letter-spacing: 0px;
  color: #303030;
  opacity: 1;
}

.shop-items a {
  text-decoration: none;
  color: #303030;
}

.company-heading {
  position: absolute;
  top: 4852px;
  left: 580px;
  width: 47px;
  height: 17px;
  text-align: left;
  font: normal normal 600 14px/26px Barlow Condensed;
  letter-spacing: 0px;
  color: #303030;
  text-transform: uppercase;
  opacity: 1;
}

.company-items {
  position: absolute;
  top: 4889px;
  left: 580px;
  width: 61px;
  height: 90px;
  text-align: left;
  font: normal normal normal 15px/36px Roboto;
  letter-spacing: 0px;
  color: #303030;
  opacity: 1;
}

.company-items a {
  text-decoration: none;
  color: #303030;
}

.customer-service {
  position: absolute;
  top: 4852px;
  left: 795px;
  width: 175px;
  height: 17px;
  text-align: left;
  font: normal normal 600 14px/26px Barlow Condensed;
  letter-spacing: 0px;
  color: #303030;
  text-transform: uppercase;
  opacity: 1;
}

.customer-service-items {
  position: absolute;
  top: 4889px;
  left: 795px;
  width: 125px;
  height: 126px;
  text-align: left;
  font: normal normal normal 15px/36px Roboto;
  letter-spacing: 0px;
  color: #303030;
  opacity: 1;
}

.customer-service-items a {
  text-decoration: none;
  color: #303030;
}

.follow-us {
  position: absolute;
  top: 4852px;
  left: 1080px;
  width: 95px;
  height: 17px;
  text-align: left;
  font: normal normal 600 14px/26px Barlow Condensed;
  letter-spacing: 0px;
  color: #303030;
  text-transform: uppercase;
  opacity: 1;
}

.instagram {
  position: absolute;
  top: 4909px;
  left: 1080px;
  width: 20px;
  height: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.facebook {
  position: absolute;
  top: 4909px;
  left: 1124px;
  height: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.linkedin {
  position: absolute;
  top: 4909px;
  left: 1157px;
  width: 18px;
  height: 18px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.youtube {
  position: absolute;
  top: 4909px;
  left: 1200px;
  width: 21px;
  height: 15px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.newsletter {
  position: absolute;
  top: 4964px;
  left: 1080px;
  width: 66px;
  height: 17px;
  text-align: left;
  font: normal normal 600 14px/26px Barlow Condensed;
  letter-spacing: 0px;
  color: #303030;
  text-transform: uppercase;
  opacity: 1;
}

.your-email {
  position: absolute;
  top: 5021px;
  left: 1080px;
  width: 291px;
  height: 50px;
  background: #F8F8F8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  opacity: 1;
}

input:focus {
  outline: none;
}

::placeholder {
  width: 71px;
  height: 28px;
  text-align: left;
  font: normal normal normal 15px/36px Roboto;
  letter-spacing: 0px;
  color: #6D6D6D;
  padding-left: 15px;
  opacity: 1;
}

.submit-email {
  position: absolute;
  top: 5022px;
  left: 1324px;
  width: 50px;
  height: 50px;
  background: #3584C6 40% 55% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.arrow-right-footer {
  color: #fff;
}

.footer-line {
  position: absolute;
  top: 5176px;
  left: 45px;
  width: 1350px;
  height: 0px;
  border: 1px solid #303030;
  opacity: 1;
}

.copy-right {
  position: absolute;
  top: 5201px;
  left: 65px;
  width: 323px;
  height: 16px;
  text-align: left;
  font: normal normal normal 14px/36px Roboto;
  letter-spacing: 0px;
  color: #6D6D6D;
  opacity: 1;
}

.privacy-policy {
  position: absolute;
  top: 5201px;
  left: 1157px;
  width: 218px;
  height: 16px;
  text-align: left;
  font: normal normal normal 14px/36px Roboto;
  letter-spacing: 0px;
  color: #6D6D6D;
  opacity: 1;
}

/* Responsive web design */

@media only screen and (max-width: 1420px) {
  .rock-logo {
    top: 5352px;
  }
  .shop-heading {
    top: 5352px;
    left: 235px;
  }
  .shop-items {
    top: 5389px;
    left: 235px;
  }
  .company-heading {
    top: 5352px;
    left: 400px;
  }
  .company-items {
    top: 5389px;
    left: 400px;
  }
  .customer-service {
    top: 5352px;
    left: 500px;
  }
  .customer-service-items {
    top: 5389px;
    left: 500px;
  }
  .follow-us {
    top: 5352px;
    left: 680px;
  }
  .instagram, .facebook, .linkedin, .youtube {
    top: 5409px;
  }
  .instagram {
    left: 680px;
  }
  .facebook {
    left: 715px;
  }
  .linkedin {
    left: 745px;
  }
  .youtube {
    left: 785px;
  }
  .newsletter {
    top: 5464px;
    left: 680px;
  }
  .your-email {
    top: 5521px;
    left: 680px;
  }
  .submit-email {
    top: 5522px;
    left: 974px;
  }
  .footer-line {
    top: 5675px;
    width: 985px;
  }
  .copy-right, .privacy-policy {
    top: 5701px;
  }
  .privacy-policy {
    left: 845px;
  }
}

@media only screen and (max-width: 1100px) {
  .rock-logo, .shop-heading, .company-heading, .customer-service {
    top: 6352px;
  }
  .shop-items, .company-items, .customer-service-items {
    top: 6389px;
  }
  .follow-us {
    top: 6600px;
    left: 65px;
  }
  .instagram {
    top: 6650px;
    left: 65px;
  }
  .facebook {
    top: 6650px;
    left: 95px;
  }
  .linkedin {
    top: 6650px;
    left: 125px;
  }
  .youtube {
    top: 6650px;
    left: 155px;
  }
  .newsletter {
    top: 6580px;
    left: 400px;
  }
  .your-email {
    top: 6635px;
    left: 400px;
  }
  .submit-email {
    top: 6635px;
    left: 650px;
  }
  .footer-line {
    top: 6740px;
    width: 655px;
  }
  .copy-right {
    top: 6800px;
  }
  .privacy-policy {
    top: 6800px;
    left: 510px;
  }
}

@media only screen and (max-width: 747px) {
  .rock-logo, .shop-heading, .company-heading, .customer-service {
    top: 6952px;
  }
  .shop-items, .company-items, .customer-service-items {
    top: 6989px;
  }
  .follow-us {
    top: 7200px;
    left: 65px;
  }
  .instagram {
    top: 7250px;
    left: 65px;
  }
  .facebook {
    top: 7250px;
    left: 95px;
  }
  .linkedin {
    top: 7250px;
    left: 125px;
  }
  .youtube {
    top: 7250px;
    left: 155px;
  }
  .newsletter {
    top: 7180px;
    left: 400px;
  }
  .your-email {
    top: 7235px;
    left: 400px;
  }
  .submit-email {
    top: 7235px;
    left: 650px;
  }
  .footer-line {
    top: 7340px;
    width: 655px;
  }
  .copy-right {
    top: 7400px;
  }
  .privacy-policy {
    top: 7400px;
    left: 510px;
  }
}
