<!-- custom arrow -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
  <div>
    <a href="#">
      <img src="../../assets/img/Group4472.png" alt="rock-logo" class="rock-logo">
    </a>
  </div>

  <div>
    <a href="#"><h5 class="shop-heading">SHOP</h5></a>
    <div class="shop-items">
      <a href="#">
        <p>
          Indoor Outdoor Lighting Controls Safety & Security Electrical Heating & Air
        </p>
      </a>
    </div>
  </div>

  <div>
    <a href="#"><h5 class="company-heading">COMPANY</h5></a>
    <div class="company-items">
      <a href="#">
        <p>
          About Us Contact Blog
        </p>
      </a>
    </div>
  </div>

  <div>
    <a href="#"><h5 class="customer-service">CUSTOMER SERVICE</h5></a>
    <div class="customer-service-items">
      <a href="#">
        <p>
          FAQS Return & Exchange Shipping Account
        </p>
      </a>
    </div>
  </div>

  <div>
    <a href="#"><h5 class="follow-us">FOLLOW US</h5></a>

    <div>
      <a href="#">
        <img src="../../assets/img/instagram.png" alt="instagram" class="instagram">
      </a>
      <a href="#">
        <img src="../../assets/img/facebook.png"  alt="facebook" class="facebook">
      </a>
      <a href="#">
        <img src="../../assets/img/linkedin-in.png" alt="linkedin" class="linkedin">
      </a>
      <a href="#">
        <img src="../../assets/img/youtube.png" alt="youtube" class="youtube">
      </a>
    </div>

    <a href="#"><h5 class="newsletter">NEWSLETTER</h5></a>

    <div>
      <input title="text" type="text" class="your-email" placeholder="Your Email">
      <button title="submit-email" type="submit" class="submit-email">
        <i class="arrow-right-footer fa fa-long-arrow-right" aria-hidden="true"></i>
      </button>
    </div>

    <div class="footer-line"></div>

    <div>
      <p class="copy-right">
        © 2021 Rock Lighting & Electric. All Rights Reserved
      </p>

      <p class="privacy-policy">
        Privacy Policy | Terms of Service
      </p>
    </div>

  </div>
</footer>
