.follow-us-instagram {
  position: absolute;
  top: 3826px;
  left: 576px;
  width: 488px;
  height: 42px;
  text-align: left;
  font: normal normal 600 35px/62px Barlow Condensed;
  letter-spacing: 0px;
  color: #303030;
  opacity: 1;
}

.rock-lighting {
  position: absolute;
  top: 3882px;
  left: 634px;
  width: 173px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/46px Roboto;
  letter-spacing: 3.2px;
  color: #303030;
  text-transform: uppercase;
  opacity: 1;
}

.horizontal-line {
  position: absolute;
  top: 3951px;
  left: 721px;
  width: 0px;
  height: 89px;
  border: 1px solid #303030;
  opacity: 1;
}

.pic-1 {
  position: absolute;
  top: 4056px;
  left: 45px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-2 {
  position: absolute;
  top: 4056px;
  left: 382px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-3 {
  position: absolute;
  top: 4056px;
  left: 720px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-4 {
  position: absolute;
  top: 4056px;
  left: 1057px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-5 {
  position: absolute;
  top: 4394px;
  left: 45px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-6 {
  position: absolute;
  top: 4394px;
  left: 382px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-7 {
  position: absolute;
  top: 4394px;
  left: 720px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-8 {
  position: absolute;
  top: 4394px;
  left: 1057px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* Responsive web design */

@media only screen and (max-width: 1420px) {
  .follow-us-instagram {
    left: 400px;
  }
  .rock-lighting {
    left: 460px;
  }
  .horizontal-line {
    left: 560px;
  }
  .pic-4 {
    top: 4733px;
    left: 45px;
  }
  .pic-8 {
    top: 4733px;
    left: 382px;
  }
}

@media only screen and (max-width: 1100px) {
  .follow-us-instagram {
    top: 4645px;
    left: 240px;
  }
  .rock-lighting {
    top: 4710px;
    left: 310px;
  }
  .horizontal-line {
    display: none;
  }
  .pic-1, .pic-2 {
    top: 4832px;
  }
  .pic-5, .pic-6 {
    top: 5170px;
  }
  .pic-4, .pic-8 {
    top: 5509px;
  }
  .pic-3 {
    top: 5847px;
    left: 45px;
  }
  .pic-7 {
    top: 5847px;
    left: 382px;
  }
}
@media only screen and (max-width: 747px) {
  .follow-us-instagram {
    top: 5145px;
    left: 240px;
  }
  .rock-lighting {
    top: 5210px;
    left: 310px;
  }
  .pic-1, .pic-2 {
    top: 5332px;
  }
  .pic-5, .pic-6 {
    top: 5670px;
  }
  .pic-4, .pic-8 {
    top: 6009px;
  }
  .pic-3 {
    top: 6347px;
    left: 45px;
  }
  .pic-7 {
    top: 6347px;
    left: 382px;
  }
}
