<div>
  <h2 class="follow-us-instagram">Follow Us On Instagram</h2>
  <p class="rock-lighting">@ROCK.LIGHTING</p>
  <div class="horizontal-line"></div>
</div>

<section>
  <img src="../../assets/img/pic-1.png" alt="pic-1" class="pic-1">
  <img src="../../assets/img/pic-2.png" alt="pic-2" class="pic-2">
  <img src="../../assets/img/pic-3.png" alt="pic-3" class="pic-3">
  <img src="../../assets/img/pic-4.png" alt="pic-4" class="pic-4">
  <img src="../../assets/img/pic-5.png" alt="pic-5" class="pic-5">
  <img src="../../assets/img/pic-6.png" alt="pic-6" class="pic-6">
  <img src="../../assets/img/pic-7.png" alt="pic-7" class="pic-7">
  <img src="../../assets/img/pic-8.png" alt="pic-8" class="pic-8">
</section>
