.follow-us-instagram {
  position: absolute;
  top: 3826px;
  left: 576px;
  width: 488px;
  height: 42px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-35)/var(--unnamed-line-spacing-62) var(--unnamed-font-family-barlow-condensed);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
  font: normal normal 600 35px/62px Barlow Condensed;
  letter-spacing: 0px;
  color: #303030;
  opacity: 1;
}

.rock-lighting {
  position: absolute;
  top: 3882px;
  left: 634px;
  width: 173px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/46px Roboto;
  letter-spacing: 3.2px;
  color: #303030;
  text-transform: uppercase;
  opacity: 1;
}

.horizontal-line {
  position: absolute;
  top: 3951px;
  left: 721px;
  width: 0px;
  height: 89px;
  border: 1px solid #303030;
  opacity: 1;
}

.pic-1 {
  position: absolute;
  top: 4056px;
  left: 45px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-2 {
  position: absolute;
  top: 4056px;
  left: 382px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-3 {
  position: absolute;
  top: 4056px;
  left: 720px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-4 {
  position: absolute;
  top: 4056px;
  left: 1057px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-5 {
  position: absolute;
  top: 4394px;
  left: 45px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-6 {
  position: absolute;
  top: 4394px;
  left: 382px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-7 {
  position: absolute;
  top: 4394px;
  left: 720px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.pic-8 {
  position: absolute;
  top: 4394px;
  left: 1057px;
  width: 338px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
