<section>
  <div class="our-mission"></div>
  <div class="vertical-line"></div>
  <div>
    <h1 class="our-mission-heading">Our Mission</h1>
    <p class="our-mission-description">
      Our mission here at Rock Lighting & Electric is to do things
      better. We are a forward-thinking supply house. We provide
      exceptional service in Lighting, Electrical, and Controls. We
      use the latest software and tech to provide today’s needs
      with tomorrow’s capabilities. Our job is simple, we specialize
      in providing our clients with any electrical and lighting material needs.
    </p>
    <a href="#">
      <p class="more-about-us">More About Us</p>
      <span class="arrow-right"></span>
    </a>
  </div>

  <div class="news">
    <h2 class="in-the-news">In The News</h2>
    <p class="our-blog">Our Blog</p>
    <span class="arrow-right-blog"></span>
  </div>

  <div class="images">
    <div>
      <img src="../../assets/img/Rectangle 179.png" alt="category-1" class="category-1">
      <h5 class="category-1-title">CATEGORY</h5>
      <h2 class="article-1">Article Title Goes Here</h2>
      <p class="lorem-1">
        Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor…
      </p>
    </div>

    <div>
      <img src="../../assets/img/Rectangle1877.png" alt="category-2" class="category-2">
      <h5 class="category-2-title">CATEGORY</h5>
      <h2 class="article-2">Article Title Goes Here</h2>
      <p class="lorem-2">
        Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor…
      </p>
    </div>

    <div>
      <img src="../../assets/img/Rectangle1887.png" alt="category-3" class="category-3">
      <h5 class="category-3-title">CATEGORY</h5>
      <h2 class="article-3">Article Title Goes Here</h2>
      <p class="lorem-3">
        Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor…
      </p>
    </div>
  </div>
</section>
