<div class="slider-container">


  <div class="slide-1">
    <img src="../../assets/img/Rectangle 185.png" alt="controls-img" class="controls-img">
    <h3 class="control-text">Lighting Controls</h3>
    <button class="shop-now">SHOP NOW</button>
  </div>

  <div class="slide-2">
    <img src="../../assets/img/Rectangle 179.png" alt="indoor-img" class="indoor-img">
    <h3 class="indoor-text">Indoor Lighting</h3>
    <button class="shop-now-indoor">SHOP NOW</button>
  </div>

  <div class="slide-3">
    <img src="../../assets/img/outdoor-lighting.png" alt="outdoor-img" class="outdoor-img">
    <h3 class="outdoor-text">Outdoor Lighting</h3>
    <button class="shop-now-outdoor">SHOP NOW</button>
  </div>

  <div class="slide-4">
    <img src="../../assets/img/AdobeStock.png" alt="safety" class="safety">
    <h3 class="safety-text">Safety & Security</h3>
    <button class="shop-now-safety">SHOP NOW</button>
  </div>
</div>

