<h2 class="popular-products">Popular Products</h2>

<div class="vertical-line"></div>

<div class="right-shop-arrow">
  <p class="shop-all">Shop All</p>
  <span class="arrow-right"></span>
</div>

<section>
  <div class="image-1">
    <a href="#">
      <img src="../../assets/img/Group494.png" alt="elite" class="elite">
      <h5 class="elite-text">ELITE</h5>
      <h2 class="led-sm">SCH6-LED-SM</h2>
      <p class="led-sm-text">6 Inch Architectural High Lumen LED Cylinder</p>
    </a>
  </div>

  <div class="image-2">
    <a href="#">
      <img src="../../assets/img/Group493.png" alt="dmf" class="dmf">
      <h5 class="dmf-text">DMF LIGHTING</h5>
      <h2 class="dmf-heading">DMF DRDHNJD</h2>
      <p class="dmf-description">SquareFrame LED Housing</p>
    </a>
  </div>

  <div class="image-3">
    <a href="#">
      <img src="../../assets/img/Group492.png" alt="elite-f" class="elite-f">
      <h5 class="elite-f-text">ELITE</h5>
      <h2 class="elite-f-heading">Elite FPR4-LED</h2>
      <p class="elite-f-description">LED round pendant cylinder</p>
    </a>
  </div>

  <div class="image-4">
    <a href="#">
      <img src="../../assets/img/Group491.png" alt="westgate" class="westgate">
      <h5 class="westgate-text">WESTGATE</h5>
      <h2 class="westgate-heading">SCX-2FT-20W-30K-D</h2>
      <p class="westgate-description">LED 2-3/4” Superior Architectural Seamless Linear Lights</p>
    </a>
  </div>
</section>
