<div>
  <p class="top-brands">OUR TOP BRANDS</p>
</div>

<section>
  <a href="#">
    <img src="../../assets/img/EATON-LOGO-grey.png" alt="eaton" class="eaton">
  </a>

  <a href="#">
    <img src="../../assets/img/leviton-logo-grey.png" alt="leviton" class="leviton">
  </a>

  <a href="#">
    <img src="../../assets/img/siemens-logo-grey.png" alt="siemens" class="siemens">
  </a>

  <a href="#">
    <img src="../../assets/img/lutron-logo-grey@2x.png" alt="olutron" class="olutron">
  </a>

  <a href="#">
    <img src="../../assets/img/wattstopper-logo-grey.png" alt="wattstopper" class="wattstopper">
  </a>

  <a href="#">
    <h2><strong class="kleintools">KLEIN <br> TOOLS</strong></h2>
  </a>
</section>

<div>
  <a href="">
    <button type="submit" class="see-brands">
      SEE ALL BRANDS
    </button>
  </a>
</div>
